:root {
  --primary: #2980b9;
  --secondary: #94c0dc;
  --text-color: #94c0dc;
  --bg-color: #fff;
  --empty-color: #ededed;
  --bg-secondary-color: #fbe8da;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

div:empty {
  display: block;
}

.Avada-PR {
  &__OuterWrapper {
    margin: 2rem 0;
  }

  &__Wrapper {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: start;
  }
}

.Avada-PR__Block {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px;
  width: 100%;
}

.Avada-PR__Rating {
  flex: 1;
  display: flex;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
  flex-wrap: wrap;
}

.Avada-PR__Average {
  background-color: var(--bg-color);
  padding: 1rem;
  border-radius: 0.8rem;
  text-align: center;
  flex: 1 1 0;
  min-width: 12rem;
  border: 1px solid var(--bg-secondary-color);
  border-radius: 0.5rem;

  > h1 {
    font-size: 3rem;
    color: var(--primary);
  }

  > p {
    margin-top: 0.7rem;
    letter-spacing: 0.1rem;
    color: var(--primary);
  }
}

.Avada-PR__Star-Outer {
  position: relative;
  font-size: 2.5rem;
  display: inline-block;

  &::before {
    content: '\2605 \2605 \2605 \2605 \2605';
    color: var(--secondary);
  }

  .Avada-PR__Star-Inner {
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;

    &::before {
      content: '\2605 \2605 \2605 \2605 \2605';
      color: var(--primary);
    }
  }
}

.Avada-PR__Progress {
  padding: 1rem;
  background-color: var(--bg-color);
  flex: 1 1 40%;
  min-width: 15rem;
  border: 1px solid var(--bg-secondary-color);
  border-radius: 0.5rem;

  &-Value {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 1rem;
    margin-top: 0.5px;

    &:first-child {
      margin-top: 0;
    }

    p {
      color: var(--primary);
    }
  }

  .Avada-PR__Star {
    font-size: 2rem;
    color: var(--primary);
  }
}

.Avada-PR__Progress-Bar {
  flex: 1 1 0;
  height: 0.8rem;
  border-radius: 0.5rem;
  background-color: var(--empty-color);
}

.Avada-PR__Progress-Fill {
  height: 0.8rem;
  background-color: #2980b9;
  border-radius: 0.5rem;
}

.Avada-PR__Action {
  padding: 2rem 1rem;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  flex: 1 1 0;
  border: 1px solid var(--bg-secondary-color);
  border-radius: 0.5rem;
}

.Avada-PR__Star-List {
  display: flex;
  flex-direction: row-reverse;

  > input {
    display: none;
    &:not(:checked) {
      ~ label:hover {
        > svg {
          fill: var(--primary);
          stroke: var(--primary);
        }
      }

      ~ label:hover ~ label {
        > svg {
          fill: var(--primary);
          stroke: var(--primary);
        }
      }
    }

    &:checked {
      ~ label {
        > svg {
          fill: var(--primary);
          stroke: var(--primary);
        }
      }
    }
  }

  > label {
    padding: 0.2rem;
    cursor: pointer;
    transition: all 0.2s ease;

    > svg {
      fill: white;
      stroke: var(--secondary);
      stroke-width: 1;
      transition: fill 0.2s ease;
    }
  }
}

.Avada-PR__Form {
  display: none;
  flex: 0 1 50%;
  > header {
    width: 100%;
    font-size: 2.4rem;
    color: var(--primary);
    font-weight: 500;
    margin: 0.3rem 0;
    text-align: center;
  }

  &.--active {
    display: flex;
    flex-direction: column;
  }

  &--Textarea {
    > textarea {
      outline: none;
      border: 1px solid var(--secondary);
      background: white;
      padding: 1rem;
      border-radius: 0.8rem;
      resize: none;
      font-size: 17px;
      color: var(--primary);
      width: 100%;
      box-sizing: border-box;

      &::placeholder {
        font-size: 1.1rem;
        color: var(--secondary);
      }
    }
  }

  &--Button {
    margin: 0.5rem 0;
    text-align: center;

    > button {
      padding: 0.5rem 3rem;
      border: 1px solid var(--secondary);
      border-radius: 0.8rem;
      outline: none;
      background: white;
      color: var(--primary);
      font-size: 1.1rem;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
      width: 100%;

      &:hover {
        background: var(--primary);
        color: var(--bg-color);
      }

      &.-disable {
        background: rgb(216, 216, 216);
        color: var(--primary);
      }
    }
  }
}

.Avada-PR__Review {
  display: flex;
  flex-direction: column;
  flex: 2;
  &-Filter {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
  }
}

.Avada-PR__Select {
  display: flex;
  justify-items: start;
}

.Avada-PR__Input {
  display: flex;
  gap: 0.5rem;
  padding: 0.2rem 1.6rem;
  background-color: var(--bg-color);
  border: 1px solid var(--bg-secondary-color);
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;

  .Avada-PR__Value {
    font-size: 1.2rem;
    color: var(--primary);
  }
}

.Avada-PR__Review {
  display: flex;
  width: 100%;

  flex-direction: column;
  align-items: start;
  min-width: 300px;
  gap: 1.6rem;
}

.Avada-PR__Review-List {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .Avada-PR__Review-Item {
    background-color: var(--bg-color);
    padding: 2rem;
    border: 1px solid var(--bg-secondary-color);
    border-radius: 0.5rem;

    .Avada-PR__Empty {
      color: var(--primary);
      font-size: 1.8rem;
    }
  }
}

.Avada-PR__Review-Header {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;

  .Avada-PR__Avatar {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 100%;
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-secondary-color);
    font-weight: 600;
    font-size: 1.2rem;
  }

  .Avada-PR__Customer {
    font-weight: 600;
    color: var(--primary);
    max-width: 200px;
  }
}

.Avada-PR__Review-Detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .Avada-PR__Review-Rating {
    font-size: 2.4rem;
  }

  .Avada-PR__Review-Date {
    font-size: 1.2rem;
    color: var(--primary);
  }
}

.Avada-PR__Review-Content {
  color: var(--primary);
  font-size: 1rem;
  line-height: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
}

.Avada-RP {
  &__Icon {
    text-align: center;
    > svg {
      fill: var(--primary);
      stroke: var(--primary);

      > circle {
        fill: var(--primary);
        stroke: var(--primary);
      }
    }
  }

  &__Titlte {
    color: var(--primary);
    font-size: 1.8rem;
  }
}
